@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
@import 'draft-js/dist/Draft.css';
body {
    margin: 0;
    padding:0;
    overflow-y:auto;
    font-family: "Open Sans", sans-serif;
}
body::-webkit-scrollbar{
    width:0px
}
.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
  }
  
  .editor :global(.public-DraftEditor-content) {
    min-height: 140px;
  }
  
  .options {
    margin-bottom: 20px;
  }
  